@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUpDelay1 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  33% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpDelay2 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  66% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#professional {
  animation: fadeInUp ease 1s;
}

#service {
  animation: fadeInUp ease 1s;
  animation-delay: .2s;
  animation-fill-mode: backwards;
}

#brotherhood {
  animation: fadeInUp ease 1s;
  animation-delay: .4s;
  animation-fill-mode: backwards;
}