@keyframes fadeInLeft {
  0% {
    opacity: 0;
    /* transform: translate(30px); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

#poster {
  animation: fadeInLeft ease 1s;
}