.gradient-text {
  background: #8b0000;
  background: -webkit-linear-gradient(to top right, #8b0000 0%, #ffcc33 100%);
  background: -moz-linear-gradient(to top right, #8b0000 0%, #ffcc33 100%);
  background: linear-gradient(to top right, #8b0000 0%, #ffcc33 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadeInFromLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInDelay {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUpDelay1 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpDelay2 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#title {
  animation: fadeInFromLeft ease 1s;
  -webkit-animation: fadeInFromLeft ease 1s;
  -moz-animation: fadeInFromLeft ease 1s;
  -o-animation: fadeInFromLeft ease 1s;
  -ms-animation: fadeInFromLeft ease 1s;
}

#description {
  animation: fadeInDelay ease 2s;
  -webkit-animation: fadeInDelay ease 2s;
  -moz-animation: fadeInDelay ease 2s;
  -o-animation: fadeInDelay ease 2s;
  -ms-animation: fadeInDelay ease 2s;
}

#learn-more-btn {
  animation: fadeInUpDelay1 ease 2.2s;
  -webkit-animation: fadeInUpDelay1 ease 2.2s;
  -moz-animation: fadeInUpDelay1 ease 2.2s;
  -o-animation: fadeInUpDelay1 ease 2.2s;
  -ms-animation: fadeInUpDelay1 ease 2.2s;
}

#rush-btn {
  animation: fadeInUpDelay2 ease 3s;
  -webkit-animation: fadeInUpDelay2 ease 3s;
  -moz-animation: fadeInUpDelay2 ease 3s;
  -o-animation: fadeInUpDelay2 ease 3s;
  -ms-animation: fadeInUpDelay2 ease 3s;
}
